.border-top-color-white
  border-top-color white

.border-top-color-black
  border-top-color black

.border-top-color-e4
  border-top-color #e4e4e4

.border-top-color-e0
  border-top-color #e0e0e0

.border-top-color-transparent
  border-top-color transparent