.border-top-width-1
  border-top-width 1px

.border-top-width-2
  border-top-width 2px

.border-top-width-3
  border-top-width 3px

.border-top-width-4
  border-top-width 4px

.border-top-width-5
  border-top-width 5px

.border-top-width-6
  border-top-width 6px

.border-top-width-7
  border-top-width 7px

.border-top-width-8
  border-top-width 8px

.border-top-width-9
  border-top-width 9px

.border-top-width-10
  border-top-width 10px
