.background-position-center
  background-position center

.background-position-top
  background-position top

.background-position-bottom
  background-position bottom

.background-position-left
  background-position left

.background-position-right
  background-position right

.background-position-inherit
  background-position inherit
