.background-color-white
  background-color white

.background-color-black
  background-color black

.background-color-gray
  background-color gray

.background-color-red
  background-color red

.background-color-green
  background-color green

.background-color-1
  background-color #111

.background-color-2
  background-color #222

.background-color-3
  background-color #333

.background-color-4
  background-color #444

.background-color-5
  background-color #555

.background-color-6
  background-color #666

.background-color-7
  background-color #777

.background-color-8
  background-color #888

.background-color-9
  background-color #999

.background-color-a
  background-color #AAA

.background-color-b
  background-color #BBB

.background-color-c
  background-color #CCC

.background-color-d
  background-color #DDD

.background-color-e
  background-color #EEE

.background-color-f
  background-color #FFF

.background-color-f6
  background-color #f6f6f6

.background-color-e8
  background-color #e8e8e8

.background-color-e4
  background-color #e4e4e4
