.font-weight-inherit
  font-weight inherit

.font-weight-normal
  font-weight normal

.font-weight-bold
  font-weight bold

.font-weight-bolder
  font-weight bolder

.font-weight-lighter
  font-weight lighter
