.background-repeat-repeat-y
  background-repeat repeat-y

.background-repeat-repeat-x
  background-repeat repeat-x

.background-repeat-repeat
  background-repeat repeat

.background-repeat-no-repeat
  background-repeat no-repeat

.background-repeat-inherit
  background-repeat inherit
