.min-width-auto
  min-width auto

.min-width-inherit
  min-width inherit

min-width-pixel(range)
  for i in range
    .{'min-width-'+i}
      min-width i * 1px

min-width-pixel(0..100)

min-width-percentage(range)
  for i in range
    .{'min-width-'+i+'p'}
      min-width i * 1%

min-width-percentage(0..100)
