.border-color-white
  border-color white

.border-color-black
  border-color black

.border-color-e4
  border-color #e4e4e4

.border-color-e0
  border-color #e0e0e0

.border-color-transparent
  border-color transparent