.border-width-0
  border-width 0px
.border-width-1
  border-width 1px
.border-width-2
  border-width 2px
.border-width-3
  border-width 3px
.border-width-4
  border-width 4px
.border-width-5
  border-width 5px
.border-width-6
  border-width 6px
.border-width-7
  border-width 7px
.border-width-8
  border-width 8px
.border-width-9
  border-width 9px
.border-width-10
  border-width 10px
.border-width-11
  border-width 11px
.border-width-12
  border-width 12px
.border-width-13
  border-width 13px
.border-width-14
  border-width 14px
.border-width-15
  border-width 15px
.border-width-16
  border-width 16px
.border-width-17
  border-width 17px
.border-width-18
  border-width 18px
.border-width-19
  border-width 19px
.border-width-20
  border-width 20px
.border-width-21
  border-width 21px
.border-width-22
  border-width 22px
.border-width-23
  border-width 23px
.border-width-24
  border-width 24px
.border-width-25
  border-width 25px
.border-width-26
  border-width 26px
.border-width-27
  border-width 27px
.border-width-28
  border-width 28px
.border-width-29
  border-width 29px
.border-width-30
  border-width 30px
.border-width-31
  border-width 31px
.border-width-32
  border-width 32px
.border-width-33
  border-width 33px
.border-width-34
  border-width 34px
.border-width-35
  border-width 35px
.border-width-36
  border-width 36px
.border-width-37
  border-width 37px
.border-width-38
  border-width 38px
.border-width-39
  border-width 39px
.border-width-40
  border-width 40px
.border-width-41
  border-width 41px
.border-width-42
  border-width 42px
.border-width-43
  border-width 43px
.border-width-44
  border-width 44px
.border-width-45
  border-width 45px
.border-width-46
  border-width 46px
.border-width-47
  border-width 47px
.border-width-48
  border-width 48px
.border-width-49
  border-width 49px
.border-width-50
  border-width 50px
.border-width-51
  border-width 51px
.border-width-52
  border-width 52px
.border-width-53
  border-width 53px
.border-width-54
  border-width 54px
.border-width-55
  border-width 55px
.border-width-56
  border-width 56px
.border-width-57
  border-width 57px
.border-width-58
  border-width 58px
.border-width-59
  border-width 59px
.border-width-60
  border-width 60px
.border-width-61
  border-width 61px
.border-width-62
  border-width 62px
.border-width-63
  border-width 63px
.border-width-64
  border-width 64px
.border-width-65
  border-width 65px
.border-width-66
  border-width 66px
.border-width-67
  border-width 67px
.border-width-68
  border-width 68px
.border-width-69
  border-width 69px
.border-width-70
  border-width 70px
.border-width-71
  border-width 71px
.border-width-72
  border-width 72px
.border-width-73
  border-width 73px
.border-width-74
  border-width 74px
.border-width-75
  border-width 75px
.border-width-76
  border-width 76px
.border-width-77
  border-width 77px
.border-width-78
  border-width 78px
.border-width-79
  border-width 79px
.border-width-80
  border-width 80px
.border-width-81
  border-width 81px
.border-width-82
  border-width 82px
.border-width-83
  border-width 83px
.border-width-84
  border-width 84px
.border-width-85
  border-width 85px
.border-width-86
  border-width 86px
.border-width-87
  border-width 87px
.border-width-88
  border-width 88px
.border-width-89
  border-width 89px
.border-width-90
  border-width 90px
.border-width-91
  border-width 91px
.border-width-92
  border-width 92px
.border-width-93
  border-width 93px
.border-width-94
  border-width 94px
.border-width-95
  border-width 95px
.border-width-96
  border-width 96px
.border-width-97
  border-width 97px
.border-width-98
  border-width 98px
.border-width-99
  border-width 99px
.border-width-100
  border-width 100px
