.color-white
  color white

.color-black
  color black

.color-green
  color green

.color-yellow
  color yellow

.color-gray
  color gray

.color-red
  color red

.color-green
  color green

.color-blue
  color blue

.color-purple
  color purple

.color-0
  color #000
.color-1
  color #111
.color-2
  color #222
.color-3
  color #333
.color-4
  color #444
.color-5
  color #555
.color-6
  color #666
.color-7
  color #777
.color-8
  color #888
.color-9
  color #999
.color-a
  color #AAA
.color-b
  color #BBB
.color-c
  color #CCC
.color-d
  color #DDD
.color-e
  color #EEE
.color-f
  color #FFF
