.right-0
  right 0px
.right-1
  right 1px
.right-2
  right 2px
.right-3
  right 3px
.right-4
  right 4px
.right-5
  right 5px
.right-6
  right 6px
.right-7
  right 7px
.right-8
  right 8px
.right-9
  right 9px
.right-10
  right 10px
.right-11
  right 11px
.right-12
  right 12px
.right-13
  right 13px
.right-14
  right 14px
.right-15
  right 15px
.right-16
  right 16px
.right-17
  right 17px
.right-18
  right 18px
.right-19
  right 19px
.right-20
  right 20px
.right-21
  right 21px
.right-22
  right 22px
.right-23
  right 23px
.right-24
  right 24px
.right-25
  right 25px
.right-26
  right 26px
.right-27
  right 27px
.right-28
  right 28px
.right-29
  right 29px
.right-30
  right 30px
.right-31
  right 31px
.right-32
  right 32px
.right-33
  right 33px
.right-34
  right 34px
.right-35
  right 35px
.right-36
  right 36px
.right-37
  right 37px
.right-38
  right 38px
.right-39
  right 39px
.right-40
  right 40px
.right-41
  right 41px
.right-42
  right 42px
.right-43
  right 43px
.right-44
  right 44px
.right-45
  right 45px
.right-46
  right 46px
.right-47
  right 47px
.right-48
  right 48px
.right-49
  right 49px
.right-50
  right 50px
.right-51
  right 51px
.right-52
  right 52px
.right-53
  right 53px
.right-54
  right 54px
.right-55
  right 55px
.right-56
  right 56px
.right-57
  right 57px
.right-58
  right 58px
.right-59
  right 59px
.right-60
  right 60px
.right-61
  right 61px
.right-62
  right 62px
.right-63
  right 63px
.right-64
  right 64px
.right-65
  right 65px
.right-66
  right 66px
.right-67
  right 67px
.right-68
  right 68px
.right-69
  right 69px
.right-70
  right 70px
.right-71
  right 71px
.right-72
  right 72px
.right-73
  right 73px
.right-74
  right 74px
.right-75
  right 75px
.right-76
  right 76px
.right-77
  right 77px
.right-78
  right 78px
.right-79
  right 79px
.right-80
  right 80px
.right-81
  right 81px
.right-82
  right 82px
.right-83
  right 83px
.right-84
  right 84px
.right-85
  right 85px
.right-86
  right 86px
.right-87
  right 87px
.right-88
  right 88px
.right-89
  right 89px
.right-90
  right 90px
.right-91
  right 91px
.right-92
  right 92px
.right-93
  right 93px
.right-94
  right 94px
.right-95
  right 95px
.right-96
  right 96px
.right-97
  right 97px
.right-98
  right 98px
.right-99
  right 99px
.right-100
  right 100px
