.border-bottom-color-white
  border-bottom-color white

.border-bottom-color-black
  border-bottom-color black

.border-bottom-color-e4
  border-bottom-color #e4e4e4

.border-bottom-color-e0
  border-bottom-color #e0e0e0

.border-bottom-color-transparent
  border-bottom-color transparent