.border-bottom-width-1
  border-bottom-width 1px

.border-bottom-width-2
  border-bottom-width 2px

.border-bottom-width-3
  border-bottom-width 3px

.border-bottom-width-4
  border-bottom-width 4px

.border-bottom-width-5
  border-bottom-width 5px

.border-bottom-width-6
  border-bottom-width 6px

.border-bottom-width-7
  border-bottom-width 7px

.border-bottom-width-8
  border-bottom-width 8px

.border-bottom-width-9
  border-bottom-width 9px

.border-bottom-width-10
  border-bottom-width 10px
