.border-left-color-white
  border-left-color white

.border-left-color-black
  border-left-color black

.border-left-color-e4
  border-left-color #e4e4e4

.border-left-color-e0
  border-left-color #e0e0e0

.border-left-color-transparent
  border-left-color transparent