.border-left-width-1
  border-left-width 1px

.border-left-width-2
  border-left-width 2px

.border-left-width-3
  border-left-width 3px

.border-left-width-4
  border-left-width 4px

.border-left-width-5
  border-left-width 5px

.border-left-width-6
  border-left-width 6px

.border-left-width-7
  border-left-width 7px

.border-left-width-8
  border-left-width 8px

.border-left-width-9
  border-left-width 9px

.border-left-width-10
  border-left-width 10px
