.overflow-x-visible
  overflow-x visible

.overflow-x-hidden
  overflow-x hidden

.overflow-x-scroll
  overflow-x scroll

.overflow-x-auto
  overflow-x auto

.overflow-x-no-display
  overflow-x no-display

.overflow-x-no-content
  overflow-x no-content
