.overflow-style-auto
  overflow-style auto

.overflow-style-scrollbar
  overflow-style scrollbar

.overflow-style-panner
  overflow-style panner

.overflow-style-move
  overflow-style move

.overflow-style-marquee
  overflow-style marquee
