.line
  border-bottom 1px solid #000

.line.gray
  border-color gray

.cols
  overflow hidden
  clear both

.col
  float left

.height-ghost
  height 100%
  width 0.00001%
  display inline-block
  vertical-align middle

.bold
  font-weight bold

.bolder
  font-weight bolder
