.border-right-color-white
  border-right-color white

.border-right-color-black
  border-right-color black

.border-right-color-e4
  border-right-color #e4e4e4

.border-right-color-e0
  border-right-color #e0e0e0

.border-right-color-transparent
  border-right-color transparent