.border-right-width-1
  border-right-width 1px

.border-right-width-2
  border-right-width 2px

.border-right-width-3
  border-right-width 3px

.border-right-width-4
  border-right-width 4px

.border-right-width-5
  border-right-width 5px

.border-right-width-6
  border-right-width 6px

.border-right-width-7
  border-right-width 7px

.border-right-width-8
  border-right-width 8px

.border-right-width-9
  border-right-width 9px

.border-right-width-10
  border-right-width 10px
